parameters:
    level: 3
    paths:
        - ForMax_Code_Source/devacademie.org/wp-content/themes
        - ForMax_Code_Source/devacademie.org/wp-content/plugins
    excludePaths:
        - ForMax_Code_Source/devacademie.org/wp-content/plugins/create-block-theme/*
